# Dependencies
node_modules/

# Temporary files
.wwebjs-auth

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directories
coverage/
*.lcov
.nyc_output/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac system files
.DS_Store

# Vercel
.vercel/

# Others
temp/
